body{
  background-color:#edddd4;
}

h1 {
  margin: 15px 0;
  font-size: 35px;
  color:#772e25; 
}

a{
  text-decoration: none;
  color:#283d3b;
}

table{
  display: inline-table;
  margin: 25px;
}

td, th{
  border: 2px solid #c44536;
  padding: 8px;
  font-weight: normal;
  font-size: 20px;
}

tr{
  background-color:#fff;
}

tr:nth-child(even){
  background-color:	#d2d2d2;
}

th:first-child, td:first-child{
  font-weight: bold;
  font-size: 25px;
  color: 	#772e25;
}
.content_wrapper{
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

