body{
  background-color:#edddd4;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

h1 {
  margin: 15px 0;
  font-size: 35px;
  color:#772e25;
  font-family: 'Domine', serif;
}

a{
  text-decoration: none;
  color:#283d3b;
}

table{
  display: inline-table;
  margin: 25px;
}

td, th{
  border: 2px solid #c44536;
  padding: 8px;
  font-size: 20px;
}

th{
  font-weight:bold;
}

tr{
  background-color:#fff;
}

sup{
  font-size: 13px;
}

td:hover, th:hover{
  font-size: 25px;
  background-color: #282845;
  color: #fff;  
}

tr:nth-child(2n+1){
  background-color:	#d2d2d2;
}

th:first-child, td:first-child{
  font-weight: bold;
  font-size: 25px;
  color: 	#772e25;
  background-color: #fff;
}

th:first-child:hover, td:first-child:hover{
  background-color: #282845;
  color: #fff;
}

.content_wrapper{
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

.paragraph_wrapper{
  width: 766px;
  display:inline-block;
}

#pic_1{
  position: absolute;
}

#pic_2{
  position: absolute;
}

#pic_3{
  position: absolute;
  width: 301px;
  height: 168px; 
}
