body{
  background-color:#85d7bc;
}

h1 {
  margin: 15px 0;
  font-size: 35px;
  color:#573a23; 
}

a{
  text-decoration: none;
  color:#f9dbb5;
}

.content_wrapper{
  width: 960px;
  margin: 0 auto;
  text-align: center;
}
